@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:700');



@keyframes blink {
    from,to {
        border-color: transparent
    }

    50%{
    border-color: white;
    }
}

.typer{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background: #1e90ff;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width:100%;
  
    
}

.typer-text{
    font-family: 'Noto Sans KR', sans-serif;
    border-right: 0.1em solid white;
    font-size: 4vw;
    white-space: pre;
    line-height: 1;
    letter-spacing: 0.1rem;
    padding-top: 0.2em;
    animation: blink 1s step-end infinite;
}

.con {
    width: 400px;
    height: 220px;
    position: relative;
  }
  
  .con h1,.con h2 {
    font-size: 45px;
    text-transform: uppercase;
  }
  .con h1 span {
    width: 100%;
    float: left;
    color: #ffffff;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    transform: translateY(-50px);
    opacity: 0;
    animation-name: titleAnimation;
    animation-timing-function: ease;
    animation-duration: 3s;
    
  }

  .con h2 span {
    width: 100%;
    float: left;
    color: #ffffff;
    /* -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%); */
    transform: translateY(-50px);
    opacity: 0;
    animation-name: fadein;
    animation-timing-function: ease;
    animation-duration: 3s;
  }
  
  @keyframes fadein {
    from {
        /* clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%); */
      opacity: 0;
    }
    to {
        
      opacity: 1;
    }
  }
  
  .con h1 span {
    animation-delay: 0.6s;
    -webkit-animation-fill-mode: forwards;
  }
  .con h1 span:first-child {
    animation-delay: 0.7s;
  }
  .con h1 span:last-child {
    color: #ffe221;
    animation-delay: 0.5s;
  }
  
  .con h2 {
    top: 0;
    position: absolute;
  }
  .con h2 span {
    animation-delay: 4.1s;
    -webkit-animation-fill-mode: forwards;
  }
  .con h2 span:first-child {
    animation-delay: 4.2s;
  }
  .con h2 span:last-child {
    color: #ffe221;
    animation-delay: 4s;
  }

  @keyframes titleAnimation {
    0% {
      transform: translateY(-50px);
      opacity: 0;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    }
    20% {
      transform: translateY(0);
      opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    }
    80% {
      transform: translateY(0);
      opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    }
    100% {
      transform: translateY(50px);
      opacity: 0;
      -webkit-clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
      clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
    }
  }